version: '3.8'

services:
  web:
    container_name: linkedin-insights-prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
